1 VERSIONINFO
FILEVERSION     @STOCKMARKET_REST_PRODUCT_VERSION_MAJOR@,@STOCKMARKET_REST_PRODUCT_VERSION_MINOR@,@STOCKMARKET_REST_PRODUCT_VERSION_PATCH@,0
PRODUCTVERSION  @STOCKMARKET_REST_PRODUCT_VERSION_MAJOR@,@STOCKMARKET_REST_PRODUCT_VERSION_MINOR@,@STOCKMARKET_REST_PRODUCT_VERSION_PATCH@,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "@STOCKMARKET_PRODUCT_COMPANY_NAME@"
            VALUE "FileDescription", "@STOCKMARKET_REST_PRODUCT_DESCRIPTION@"
            VALUE "FileVersion", "@STOCKMARKET_REST_PRODUCT_VERSION@"
            VALUE "InternalName", "@STOCKMARKET_REST_PRODUCT_INTERNAL_NAME@"
            VALUE "LegalCopyright", "@STOCKMARKET_PRODUCT_COPYRIGHT@"
            VALUE "OriginalFilename", "@STOCKMARKET_REST_BIN_NAME@.exe"
            VALUE "ProductName", "@STOCKMARKET_REST_PRODUCT_NAME@"
            VALUE "ProductVersion", "@STOCKMARKET_REST_PRODUCT_VERSION@"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
2 ICON "app-icon.ico"
