@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    background: #fff;
}

.dvNoScript {
    font: normal normal normal 12px/1.5em Georgia, 'Times New Roman', Times, serif, Tahoma, arial, sans-serif, Geneva, Verdana;
    letter-spacing: 0;
    padding: 5px;
    text-align: center;
    border: 1px solid #F00;
    background: #FFA4A4;
    direction: rtl;
    font-family: Tahoma;
}

a:link {
    text-decoration: none;
    color: #00F;
}

a:visited {
    text-decoration: none;
    color: #00F;
}

a:hover {
    text-decoration: underline;
    color: #00F;
}

a:active {
    text-decoration: none;
    color: #00F;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: #00F;
}

.boldText {
    font-weight: bold;
    color: #203070;
}

.boldTextErr {
    font-weight: bold;
    color: #900;
}

#Home {
    position: relative;
    border: 0;
    margin: 0 auto;
    widht: 100%;
}

.divHorizontalSeparator {
    border: 1px solid #bfbfbf;
    float: none;
    clear: both;
}

#divHeader {
    position: relative;
    border: 0;
    margin: 0 auto;
    width: 960px;
    height: 70px;
    border: 0;
}

#divLogo {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

#divSocialMedia {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

#divSplash {
    position: relative;
    border: 0;
    margin: 0 auto;
    background: #09a45f;
    width: 100%;
    height: 375px;
}

#divSplashInner {
    position: relative;
    border: 0;
    margin: 0 auto;
    width: 960px;
    height: 375px;
}

#divSplashPic {
    position: relative;
    float: left;
    border: 0;
    background: url('splash.png') no-repeat;
    width: 706px;
    height: 375px;
}

#divSplashText {
    position: relative;
    float: right;
    border: 0;
    width: 254px;
    height: 375px;
}

#divDownloads {
    position: relative;
    border: 0;
    margin: 0 auto;
    width: 960px;
    height: 120px;
}

#divStockTable {
    position: relative;
    border: 0;
    margin: 0 auto;
    width: 960px;
}


